<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">id</Data></Cell>
        <Cell><Data ss:Type="String">login</Data></Cell>
	<Cell><Data ss:Type="String">password</Data></Cell>
	<Cell><Data ss:Type="String">password_confirmation</Data></Cell>
        <Cell><Data ss:Type="String">last_name</Data></Cell>
        <Cell><Data ss:Type="String">first_name</Data></Cell>
	<Cell><Data ss:Type="String">middle_name</Data></Cell>
	<Cell><Data ss:Type="String">academic_title</Data></Cell>
	<Cell><Data ss:Type="String">degree</Data></Cell>
	<Cell><Data ss:Type="String">email</Data></Cell>
	<Cell><Data ss:Type="String">phone</Data></Cell>
      </Row>
    <% @all_users.each do |user| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= user.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.login %></Data></Cell>
	<Cell><Data ss:Type="String"></Data></Cell>
	<Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.profile.last_name if user.profile.last_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user.profile.first_name if user.profile.first_name %></Data></Cell>
	<Cell><Data ss:Type="String"><%= user.profile.middle_name if user.profile.middle_name %></Data></Cell>
	<Cell><Data ss:Type="String"><%= user.profile.academic_title.name if user.profile.academic_title %></Data></Cell>
	<Cell><Data ss:Type="String"><%= user.profile.degree.name if user.profile.degree %></Data></Cell>
	<Cell><Data ss:Type="String"><%= user.profile.email if user.profile.email %></Data></Cell>
	<Cell><Data ss:Type="String"><%= user.profile.phone if user.profile.phone %></Data></Cell>
      </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>